*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.myBg{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top:-20px;
    right: -20px;
    bottom: -20px;
    left:-20px;
    z-index: -1;
    filter: blur(20px);
}