.container {
    display: flex;
    justify-content: center;
    margin: 80px auto;
    width: 90vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    filter: brightness(0.5);
    transition: all 700ms ease-in-out, filter 300ms;
  }
  
  .panel h3 {
    opacity: 0;
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 30px;
    transition: opacity 500ms;
  }
  
  .panel.active {
    flex: 5;
    filter: brightness(1);
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel:hover {
    filter: brightness(1);
  }